.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.local-context/**
.agents/**
.github/**
scripts/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
analytical-engine.vsix
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
